 
<launch>
  <arg name  ="freq" default = "1"/>
 <node name = "publisher" pkg = "beginner_tutorials" type = "talker" output = "screen" args = "$(arg freq)"/>

  <node name = "subscriber" pkg = "beginner_tutorials" type = "listener" output = "screen" launch-prefix = "gnome-terminal -e"
   />
</launch>
